/* body {
    padding: 30px 0px 60px;
}

.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}
 */
